.navbar-button {
    color: #fff;
    background-color: lightblue;
    /*float: left;*/
    display: inline-block;
    padding: 2em;
    text-align: center;
    /*margin: 2px;*/
    width: 10%;
    height: 10%;
    font-weight: bold;
    font-size: 2em;
    list-style: none;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}