#email_us {

    background-image: url("../img/map-image.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #79629e;
    color: white;
    padding-top: 2rem;
  
}

#email_us label {
    color: white;
}

#email_us fieldset {
    border: none;
}

#email_us .form-control {
    margin-bottom: 0.75rem;
}

.btn-submit {
    margin-bottom: 1rem;
}

