footer {
    background-color: #61458c;
    color: #fff;
    font-size: small;
    height: 3rem;

    /*text-align: right;
    display: flex;
    align-items: center;
    justify-content: right;*/
}

footer a {
    color: #fff;
}

footer div {
    height: 100%;
}