.main-header {  
  background-position: center;
  background-size: cover;
  align-items: center;
  justify-content: left;
  display: flex;
  height: 250px;
  color: #fff;
  background-repeat: no-repeat;
}

.main-header h1 {
  font-size: xx-large;
}
.button.navbar-button {
  margin-right: 20px;
}
.navbar-nav {
  margin-left: 2em;
}
.nav-item {
  padding-right: 2rem;
  color: #fff;
}
.nav-link {
  color: #fff!important;
  font-weight:480!important;
}
.navbar{
  background-color: #61458c;
}
@media (min-width: 769px) {
  .main-header {
    background-image: url("/img/header.jpg");
    padding-left: 20px;
  }
}

@media (min-width: 376px) and (max-width: 768px) {
  .main-header {
    background-image: url("/img/header-mini.png");
    padding-left: 20px;    
  } 
  .navbar-toggler {
    margin-right: 1em!important;
  }
}

@media (max-width: 375px) {
  .main-header {
    background-image: url("/img/header-mini.png");
    justify-content: center;
  }
  .navbar-toggler {
    margin-right: 1em!important;
  } 
}

.navbar-button {
  background: transparent;
  border: none;
  border-radius: 3px;
  color: white;
  width: 8em;
  height: 2.5em;
  position: relative;
}

.navbar-button:hover {
  background: white;
  border: none;
  border-radius: 3px;
  color: #61458c;
}

.navbar-button:focus {
  background: white;
  border: none;
  border-radius: 3px;
  color: #61458c;  
}
