.main-header {
  background-position: center;
  background-size: cover;
  align-items: center;
  justify-content: left;
  display: flex;
  height: 50vh;
  color: #fff;
  background-repeat: no-repeat;
  opacity: 0.8;
}

.main-header h1 {
  font-size: xx-large;
  mix-blend-mode: difference;
}

.button .navbar-button {
  margin-right: 20px;
}

.navbar-nav {
  margin-left: 2em;
}

.nav-item {
  color: #fff;
}
.navbar {
  background-color: #61458c;
}

@media (min-width: 769px) {
  .main-header {
    background-image: url("../img/header.jpg");
    padding-left: 20px;
  }
  .nav-item {
    padding-right: 2rem;
  }
  .main-header h1 {
    font-size: 3em;
  }
}

@media (min-width: 376px) and (max-width: 768px) {
  .main-header {
    background-image: url("../img/header-mini.png");
    padding-left: 20px;
    height: 30vh;
  }
  .navbar-toggler {
    margin-right: 1em !important;
  }
  .nav-item {
    text-align: center;
  }
  .navbar-nav {
    margin-left: 0;
  }
}

@media (max-width: 375px) {
  .main-header {
    background-image: url("../img/header-mini.png");
    justify-content: center;
    height: 30vh;
  }
  .navbar-toggler {
    margin-right: 1em !important;
  }
  .nav-item {
    text-align: center;
  }
  .navbar-nav {
    margin-left: 0;
  }
}

.navbar-button {
  background: transparent;
  border: none;
  -webkit-border-radius: 3px;
  -moz-boerder-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px;
  color: white;
  width: 8em;
  height: 2.5em;
  position: relative;
}

.collapse.show > ul {
  justify-content: center;
}

/* change the color of active or hovered links */
.navbar-custom .nav-item:hover .nav-link {
  background: white;
  color: #61458c; /* add background-color to active links */
}
a.nav-link {
  font-weight: bold;
  font-size: 1.1em;
  color: #fff;
}
.navbar-collapse.collapse.show > ul.navbar-nav {
  justify-content: end;
}
