/* #location {
    text-align: center;
    margin-bottom: 70px;
}

#location h2 {
    font-weight: 400;
    font-size: xx-large;
    color: #4e4e4e;
}

#location h3 {
    font-weight: 600;
    color: #4e4e4e;
}

#location h4 {
    font-weight: 400;
    color: #4e4e4e;
}

#map {
    border: 2px solid black;
    border-radius: 50%;
    height: 350px;
    width: 350px;
    text-align: center;
    margin: 0 auto;
}

#map iframe {
    border: 2px solid black;
    border-radius: 50%;
    height: 350px;
    width: 350px;
    text-align: center;
    display: block;
}

.address {
    margin-left: 2em;
}

#head_office {
    text-align: left;
    width: 160px;
    margin-bottom: 30px;
}

#emea {
    text-align: left;
    width: 160px;
    margin-bottom: 40px;
}

.location-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    width: 70%;
    margin: auto;
    padding-top: 20px;
} */

/*
iframe {
    border: 2px solid black;
    border-radius: 100%;
    height: 350px;
    width: 350px;
}
/*
#location h2 {
    font-weight: 400;
    font-size: xx-large;
    color: #4e4e4e;
}

#location h3 {
    font-weight: 600;
    color: #4e4e4e;
}

#location h4 {
    font-weight: 400;
    color: #4e4e4e;
}*/