[class="col-"] {
  align-items: center;
}

#portfolio {
  justify-content: center;
  align-items: center;
  margin-top: 3em;
  margin-bottom: 3em;
  margin-left: 3em;
  margin-right: 3em;
}

h2 {
  font-size: 2.5em;
  line-height: 1.5em;
  margin-bottom: 0.5em;
  text-align: center;
}

.image {
  justify-content: center;
  align-items: center;
  align-self: center;
}

.subtitle {
  text-align: center;
  margin-bottom: 3em;
}

#portfolio img {
  width: 240px;
  padding: 0px;
  margin-bottom: 0.5em;
}


.img-responsive:hover {
  rotate: -4deg;
  transition-delay: 0.2s;
  transition-duration: 1.1s; 
}

.spin:hover {
  rotate: -360deg;
  transition-delay: 0.2s;
  transition-duration: 1s;
  border-radius: 50px;
}


.spin img {
  transition: 1s;
}

.spin img:hover {

  border-radius: 50%; 

  
}


/*----------- IMAGES -------------------*/

.img-responsive:hover {

  -moz-transform: rotate(0deg); 
  -moz-transform: rotate(-4deg);
  

}
.img-responsive:hover {

  -webkit-transform: rotate(0deg);
  -webkit-transform: rotate(-4deg);
}
.img-responsive:hover {
  transform:rotate(0deg);
  transform:rotate(-4deg);
}


/*----------------- SPIN / GIRO __________________*/
.spin {
  -moz-transform: rotate(0deg); 
  -moz-transform: rotate(-360deg); 
}
.spin {
  -webkit-transform: rotate(0deg); 
  -webkit-transform: rotate(-360deg);
}
.spin {
  transform:rotate(0deg);
  transform:rotate(-360deg);
}

