

/* starts the body css*/

body {
    margin: auto;
    font-family: "Open Sans", sans-serif;
    color: #2d2926;
    font-weight: 400;
    text-align: center;
       
}

h2 {
    font-size: 2.5em;
    line-height: 1.5em;
    margin-bottom: 0.5em;
    text-align: center;
    
}

#who_we_are {

    background-color: #f2f2f2;
    padding-top: 2em;
    padding-bottom: 2em;
    padding-left: 2em;
    padding-right: 2em;
    margin-bottom: 2em;
    text-align: justify;
    
}

#who_we_are h3{
    font-size: 1.4em;
    font-weight: 600;
    
}

.subtitle{
    text-align: center;
    
}


.image {
    float: left;
    margin-right: 1.5em;
    margin-bottom: 0.1em;
}



.Ad {
    float: right;
    margin-left: 1.5em;
    margin-bottom: 0.1em;


 }
 
 #line {
    border-left: 1px solid rgb(196, 196, 196);
    height: 450px;
    position: absolute;
    top: 55%;
    left: 50%;
    
  }
 
 #our_services {
     background-color: #ffffff;
     align-items: center;
     justify-content: center;
     padding-top: 1em;
     padding-bottom: 1em;
     padding-left: 1em;
     padding-right: 1em;
 }
 
 #our_services h3{
     font-size: 1.4em;
     font-weight: 600;
     
 }



.column-text {
    /* float: top; */
    width: 90%;
    font-size: 14px;
    text-align: justify;
}


.icon-position {
    float: right;
 
}


  /* all icons style below */

  .fa-cloud {

    color: #61458C;
    font-size: 30px;
}

.fa-cloud:hover {

    color: #ffffff;
    font-size: 30px;
}

.fa-code {

    color: #61458C;
    font-size: 30px;
}

.fa-code:hover {

    color: #ffffff;
    font-size: 30px;
}

.fa-wifi {

    color: #61458C;
    font-size: 30px;
}

.fa-wifi:hover {

    color: #ffffff;
    font-size: 30px;
}

.fa-globe-africa {

    color: #61458C;
    font-size: 30px;
}

.fa-globe-africa:hover {

    color: #ffffff;
    font-size: 30px;
}


.fa-flag {

    color: #61458C;
    font-size: 30px;
}

.fa-flag:hover {

    color: #ffffff;
    font-size: 30px;
}

.fa-bars {

    color: #61458C;
    font-size: 30px;
}

.fa-bars:hover {

    color: #ffffff;
    font-size: 30px;
}

.icon-frame {
    border-radius: 50%;
    border:#888888 2px solid;
    height: 50px;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon-frame:hover {
    border-radius: 50%;
    border:#61458C 2px solid;
    background-color: #61458C;
    height: 50px;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}
 
.container-left {

    border-right: #888888 1px solid;
}


@media (max-width: 991px) {
    .container-left  {
        border-right: none;
    }
}